input,
button,
a {
    border-color: transparent;

}

#br_bis {
    display: none;
}

#login {
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#login #container {
    width: 100%;
    margin: 0, auto;
}

#login #container h1 {
    font-size: xx-large;
    text-align: center;
}

#login #container form {
    text-align: left;
    width: 100%;
}

#login #container form #error_message {
    text-align: center;
    width: 100%;
}

#login #container form input,
#login #container form label,
#login #container button {
    width: 100%;
}

#login #container form input::placeholder,
#login #container button::placeholder,
#login #container form label::placeholder {
    color: inherit;
}

#login #container button {
    cursor: pointer;
    font-weight: bold;
    color: inherit;
}

form label {
    font-weight: bold;
}

select {
    color: inherit;
    background-color: inherit;
}

option {
    color: black;
}

@media (max-height: 950px) {
    #login {
        padding: 100px;
        bottom: 20vh;
    }
}

@media (max-height: 730.40px) {
    #login {
        padding: 20px;
        bottom: 20vh;
    }
    
}

@media (max-height:586px) {
    #login {
        width: auto;
        height: 80vh;
    }

    #login #container form input,
    #login #container form label,
    #login #container button,
    #login #container form #error_message {
        width: 100%;
    }

    #login #container form {
        width: 50vw;
    }

    #login #container form .br {
        display: none;
    }

    #br_bis {
        display: block;
    }
}

@media (max-width: 768px) {
    #login #container h1 {
        font-size: x-large;
    }
}

@media (max-width: 310px) {    
    #login {
        top: 15vh;
    }
}