* {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-size: large;
    box-sizing: border-box;
    color: inherit;
    background-color: inherit;
}