* {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-size: large;
    box-sizing: border-box;
    color: inherit;
    background-color: inherit;
}

ion-icon {
    margin-right: 5px;
}

#br_bis {
    display: none;
}

input,
button,
a {
    border-color: transparent;

}

input {
    border-color: inherit;
}

#navbar {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 0.5em;
    border-radius: 20px;
    padding: 10px;
    max-width:fit-content;
}

#navbar nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#sign_up {
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#sign_up #container {
    width: 100%;
    margin: 0, auto;
}

#sign_up #container h1 {
    font-size: xx-large;
    text-align: center;
}

#sign_up #container form {
    text-align: left;
    width: 100%;
}

#sign_up #container form #error_message {
    text-align: center;
    width: 100%;
}

#sign_up #container form input,
#sign_up #container form label,
#sign_up #container button {
    width: 100%;
}

#sign_up #container form input::placeholder,
#sign_up #container button::placeholder,
#sign_up #container form label::placeholder {
    color: inherit;
}

#sign_up #container button {
    cursor: pointer;
    font-weight: bold;
    color: inherit;
}

form label {
    font-weight: bold;
}

select {
    color: inherit;
    background-color: inherit;
}

option {
    color: black;
}

@media (max-height: 950px) {
    #sign_up {
        padding: 100px;
        bottom: 40px;
    }
}

@media (max-height: 730.40px) {
    #sign_up {
        padding: 20px;
        bottom: 20px;
    }
    
}

@media (max-height:586px) {
    #sign_up {
        width: auto;
        height: 80vh;
    }

    #sign_up #container form input,
    #sign_up #container form label,
    #sign_up #container button,
    #sign_up #container form #error_message {
        width: 100%;
    }

    #sign_up #container form {
        width: 50vw;
    }

    #sign_up #container form .br {
        display: none;
    }

    #br_bis {
        display: block;
    }
}

@media (max-width: 768px) {
    * {
        font-size: medium;
    }

    #sign_up #container h1 {
        font-size: x-large;
    }
}

@media (max-width: 310px) {    
    #navbar nav ul {
        gap: 5vw;
        flex-wrap: wrap;
    }

    #sign_up {
        top: 15vh;
    }
}